.attach-modal {
  .modal-dialog {
    margin: 2rem auto;
  }
  .modal-header-blue {
    background-color: rgba(23, 76, 114, 1);
    color: white;
  }

  .modal-body {
    padding: 2rem;

    .form-group {
      margin-bottom: 1rem;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 1rem;
    }
  }
}
